[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
pandas = "*"
scikit-learn = "*"
flask = "*"
gunicorn = "*"
requests = "*"
python-dotenv = "*"
ipykernel = "*"
questionary = "*"
psycopg2-binary = "*"
elasticsearch = ">=8.0.0,<9.0.0"
prefect = "*"

[dev-packages]
jupyter = "*"
ipywidgets = "*"
tqdm = "*"
notebook = "*"
pytest = "*"
black = "*"
isort = "*"
flake8 = "*"
pre-commit = "*"

[requires]
python_version = "3.12"
